@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
html{
    background-color: #2d3436;
    background-image: linear-gradient(0deg, #2d3436 0%, #000000 74%);
}

.head {
  margin-top: 5%;
  font-family: 'Play', sans-serif;
  margin-left: 1%;
  color:white;
}

/* ----------------------------Search Bar------------------------------------ */
.formContainer {
  /* width: fit-content; */
  width: 40%;
  background-color: white;
  border-radius: 6px;
  margin-top: 8%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

form.sampleFrom {
  color: black;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
  margin: 0 0 0px;
  width: 100%;
}

input[type="search"] {
  border: none;
  /* background: transparent; */
  width: 100%;
  padding: 7px 8px;
  font-size: 14px;
  border: 1px solid transparent;
  display:flex;
}



button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 5%;
  padding: 2px;
  margin-left: auto;
  align-content: right;
  margin-right: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 1;
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}
/* ----------------------------Search Bar------------------------------------ */


@media only screen and (max-width: 600px) {
  .head {
    margin-top: 20%;
    margin-left: 23%;
    font-size: large;
  }
}




/* This is for the grid setup */
.grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
      .grid-item{
        /* border: solid white 3px; */
        padding: 15px;
        /* display: none; */
      }
      .grid-content{
        border: 3px solid red;
        background-color: rgba(119, 0, 0, 0.24);
        aspect-ratio: 2;
        color: white;
        border-radius: 10px;
      }
      #item1{
        /* display: none; */
      }

      .new-div{
        color: white;
        background-color: lightblue;
        width: 100px;
        height: 100px;
      }

      @media (max-width: 768px) {
        .grid {
          grid-template-columns: repeat(1, 1fr);
        }
        .grid-item{
            padding: 30px;
        }
      }



