/* ----------------------------Html------------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
html
{
  /* background: url(images/smokeycar.gif) no-repeat center fixed; */
  /* background-color: #eee;
  background-position: 0% 85%;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-color: #2d3436;
  background-image: linear-gradient(0deg, #2d3436 0%, #000000 74%);
}

body
{
  /* opacity: 0; */
  /* background-color: blue; */
  background: black;
}
.vidCont{
  /* height: 500px; */
  /* margin-top: 12%; */
  /* background-color: blue; */
  background-size: cover;
  height: 800px;
  background-image: url(Images/audi.gif);
}
#Header {
  padding-top: 16%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Michroma', sans-serif;
  font-size: 70px;
  color: white;
}

#services{
  font-family: 'Play', sans-serif;
  letter-spacing: 5px;
  font-size: 40px;
  color: white;
}


input#query{
  background-image: url(Images/);
    background-repeat: no-repeat;
    text-indent: 20px;
}

.container{
  bottom: 0;
}
.sample{
  height: 1000px;
}


/* ----------------------------Search Bar------------------------------------ */




.formContainer {
  /* width: fit-content; */
  width: 40%;
  background-color: white;
  border-radius: 6px;
  margin-top: 2%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

form.sampleFrom {
  color: black;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
  margin: 0 0 0px;
  width: 100%;
}

input[type="search"] {
  border: none;
  /* background: transparent; */
  width: 100%;
  padding: 7px 8px;
  font-size: 14px;
  border: 1px solid transparent;
  display:flex;
}



button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 5%;
  padding: 2px;
  margin-left: auto;
  align-content: right;
  margin-right: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 1;
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

/* ----------------------------Squares info------------------------------------ */

.servicebox{
  align-self: center;
  margin-left: 33%;
  border-radius: 9px;
  margin-top: 0.5%;
  background-size: 400% 400%;
  width: 35%;
}



.cont{
  margin-top: 3%;
}

.sqtext {
  margin-top: 50%;
  margin-left: 3%;
  color: white;
  font-family: 'Play', sans-serif;
  font-size: x-large;
  font-weight: 900;
  letter-spacing: 9px;
}

.sq1{
  background: url(Images/Browse.png) no-repeat;
  background-size: cover;
  border-radius: 10px;
  border: solid 3px black;
  width: 29%;
  aspect-ratio: 4 / 2;
  float: left;
  margin-left: 20%;
  transition: all 300ms;
}
.sq1:hover {
  opacity: 0.8;
  transform: scale(1.10);
 }
.sq2{
  background: url(Images/Sell.png) no-repeat;
  background-size: cover;
  border-radius: 10px;
  border: solid 3px black;
  width: 29%;
  float: right;
  margin-right: 20%;
  /* margin-top: 2%; */
  aspect-ratio: 4 / 2;
  transition: all 300ms;
}
.sq2:hover {
  opacity: 0.8;
  transform: scale(1.10);
 }
.sq3{
  background: url(Images/Contact.png) no-repeat;
  background-size: cover;
  border-radius: 10px;
  border: solid 3px black;
  width: 29%;
  float: left;
  margin-left: 20%;
  margin-top: 2%;
  aspect-ratio: 4 / 2;
  transition: all 300ms;

}
.sq3:hover {
  opacity: 0.8;
  transform: scale(1.10);
 }
.sq4{
  background: url(Images/Fix.png) no-repeat;
  background-size: cover;
  border-radius: 10px;
  border: solid 3px black;
  width: 29%;
  float: right;
  margin-right: 20%;
  margin-top: 2%;
  height: 40%;
  aspect-ratio: 4 / 2;
  transition: all 300ms;
}
.sq4:hover {
  opacity: 0.8;
  transform: scale(1.10);
 }



.animation{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}



@media only screen and (max-width: 600px) {
  #Header {
    padding-top: 50%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Michroma', sans-serif;
    font-size: 30px;
    color: white;
  }
  .vidCont{
    /* height: 500px; */
    /* margin-top: 12%; */
    /* background-color: blue; */
    background-size: cover;
    height: 600px;
    background-image: url(Images/audi.gif);
  }
  input[type="search"] {
    border: none;
    /* background: transparent; */
    width: 98%;
    padding: 4px 8px;
    font-size: 14px;
    border: 1px solid transparent;
    display:flex;
  }
  .formContainer {
    /* width: fit-content; */
    width: 70%;
    background-color: white;
    border-radius: 6px;
    margin-top: 2%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 10%;
    padding: 2px;
    margin-left: auto;
    align-content: right;
    margin-right: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 1;
  }
  .sq1{
    border-radius: 10px;
    border: solid 3px black;
    width:70%;
    aspect-ratio: 4 / 2;
    float: left;
    margin-left: 15%;
    margin-top: 5%;
  }
  .sq2{
    border-radius: 10px;
    border: solid 3px black;
    width:70%;
    float: left;
    /* margin-top: 2%; */
    aspect-ratio: 4 / 2;
    margin-left: 15%;
    margin-top: 2%;
  }
  .sq3{
    border-radius: 10px;
    border: solid 3px black;
    width:70%;
    float: left;
    margin-top: 2%;
    aspect-ratio: 4 / 2;
    margin-left: 15%;
  
  }
  .sq4{
    border-radius: 10px;
    border: solid 3px black;
    width:70%;
    float: left;
    margin-top: 2%;
    aspect-ratio: 4 / 2;
    margin-left: 15%;

  }
  .servicebox{
    align-self: center;
    margin-left: 22%;
    margin-top: 6%;
    border-radius: 9px;
    margin-top: 0.5%;
    /* background: linear-gradient(147deg, #131212 0%, #1e1e1f 74%); */
    width: 55%;
  }
  #services{
    font-family: 'Michromas', sans-serif;
  
    font-size: 23px;
    color: white;
  }
  .sqtext {
    margin-top: 50%;
    margin-left: 3%;
    color: white;
    font-family: 'Play', sans-serif;
    font-size: large;
    font-weight: 900;
    letter-spacing: 9px;
  }
}