* {
    box-sizing: border-box;

  }

  h1{
    /* color: black; */
    align-content: center;
    font-size: 100px;
    margin-top: 50%;
}
html
{
  background: url(images/traffic_convert.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 3000px;
  
}
body
{
  /* opacity: 0; */
  /* background-color: blue; */
  background: red;
}
.vidCont{
  height: 500px;
  /* background-color: blue; */
}

input#query{
  background-image: url(Images/);
    background-repeat: no-repeat;
    text-indent: 20px;
}

.container{
  bottom: 0;
}
.sample{
  height: 1000px;
}


/* Search bar */
#query {
  width: 30%;
  border-radius: 5px;
  text-align: center;
  margin-top: 2%;

  }
form {
  display: flex;
  justify-content: center;
  opacity: 1;
  height: 17%;
}