@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
html{
    background-color: #2d3436;
    background-image: linear-gradient(0deg, #2d3436 0%, #000000 74%);
}
.box{
    width: 90%;
    aspect-ratio: 4/1;
    background-color: green;
    margin-left: 5%;
    border-radius: 9px;
    background-color: #1f2020;

}
#begin{
    color: white;
    font-family: 'Play', sans-serif;
    margin-top: -4%;
}
.brand{
    color: white;
    margin-left: 4%;
    font-size: 2vw;
    font-family: 'Play', sans-serif;
    margin-top: 2%;
}
#branding1{
    margin-left: 12%;
    margin-top: -3%;
}
.submitbuttom{
    width: 20%;
    /* margin-top: 90px; */
    margin-left: 40%;
    margin-top: 1%;
    background-color: red;
    align-items: center;
    border-radius: 20px;
    
}
#searchbar{
    margin-top: 3%;
}

@media only screen and (max-width: 600px) {
    .box{
        width: 90%;
        aspect-ratio: 4/6;
        background-color: #1f2020;
        margin-left: 5%;
        border-radius: 9px;
        
    }
    #begin{
        color: white;
        font-family: 'Play', sans-serif;
        font-size: 2vh;
        margin-top: -21%;
    }
    #searchbar{
        margin-top: 10%;
    }
    .searchbar1{
        margin-left: -62%;
        margin-top: 200%;
    }
    .brand{
        color: white;
        margin-left: 4%;
        font-size: 4vw;
        font-family: 'Play', sans-serif;
        margin-top: 2%;
    }

    .submitbuttom{
        width: 40%;;
        /* margin-top: 90px; */
        margin-left: 27%;
        margin-top: 1%;
        background-color: red;
        align-items: center;
        border-radius: 20px;
        
    }
}