/* -----------------------Loading Animation-------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

#preloader {
  background: #101011 url(Images/cubeload.gif) no-repeat center center;
  background-size: 30% auto;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
/* ------------------------------Scroll----------------------------- */
::-webkit-scrollbar {
  width: 7px;
  height: auto;
  opacity: 0;
  background-color: rgb(16, 16, 17);
}

::-webkit-scrollbar-thumb {
  background: rgba(75, 74, 74, 0.3);
  border-radius: 4px;
}

/* ----------------------------Footer------------------------------- */
footer {
  background: rgb(16, 16, 17);
}
.footerbar-brand img{
  height: 3rem;
  width:  3rem;
}
.footerbar-brand span{ /*Logo text*/ 
  font-size: 1.7rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  color: #1d1a1b;
}

.results{
  font-family: 'Play', sans-serif;
}